{% extends 'base.html' %}

{% block main %}
<h2>실시간 열차 위치 정보</h2>

{% for subway_id, directions in subways.items() %}
<h3><a href="{{ url_for('subway', subway_id=subway_id) }}">{{ SUBWAY_ID_NAMES[subway_id] }}</a></h3>
{% for direction, trains in directions.items() %}
<h4>
    {% if subway_id == '1002' %}

    {% if direction == 0 %}
    내선
    {% else %}
    외선
    {% endif %}

    {% else %}

    {% if direction == 0 %}
    상행
    {% else %}
    하행
    {% endif %}

    {% endif %}
</h4>
{% if not trains %}
<p>현재 운행중인 열차가 없습니다.</p>
{% else %}
<ul>
    {% for train in trains %}
    <li>
        <a href="{{ url_for('train', subway_id=subway_id, train_id=train.number) }}">{{ train.number }}번 열차</a>:
        {{ train.station_name }} (종착역: {{ train.terminal_station_name }})
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endfor %}
{% endfor %}
{% endblock %}