{% extends 'base.html' %}

{% block main %}
<h2>내 정보</h2>
<h3>프로필</h3>
<ul>
    <li>고유번호: {{ user.id }}</li>
    <li>가입일: {{ created_at }}</li>
    <li>푸시 플랫폼: {{ user.platform }}</li>
    <li>푸시 토큰: <pre>{{ user.token }}</pre></li>
</ul>
<h3>여정</h3>
{% if itinerary %}
<ul>
    <li>출발지: {{ STATION_ID_NAMES[itinerary.origin_id] }}</li>
    <li>목적지: {{ STATION_ID_NAMES[itinerary.destination_id] }}</li>
    <li>착석 여부:
        {% if itinerary.seated == "true" %}
        앉아서 가고 있어요 🧘
        {% else %}
        서서 가고 있어요 🧍
        {% endif %}
    </li>
    <li>현재 열차: <a href="{{ url_for('train', subway_id=train.subway_id, train_id=train.id) }}">{{ train.subway_name }}
            {{ train.id }}번 열차 {{ itinerary.car_number }}량</a>
    </li>
    <li>현재 위치: {{ train.station_name }}</li>
</ul>

<h4>남은 정거장</h4>
<ol>
    {% for station_id in remaining_path %}
    <li>{{ STATION_ID_NAMES[station_id] }}</li>
    {% endfor %}
</ol>

<a href="{{ url_for('end_itinerary') }}">이미 지하철에서 내리셨다면?</a>
{% else %}
<p>현재 진행중인 여정이 없습니다.</p>
{% endif %}

<h3>설정</h3>
<form action="{{ url_for('update_profile') }}" method="POST">
    <div>
        <input type="checkbox" name="notification_seat_vacancy"
            {% if user['notification_seat_vacancy'] == 'on' %}checked{% endif %}>빈 좌석이 발생하였을 때 알림 받기</input>
    </div>
    <div>
        <input type="checkbox" name="notification_itinerary_end"
            {% if user['notification_itinerary_end'] == 'on' %}checked{% endif %}>여정이 끝났을 때 알림 받기</input>
    </div>
    <div>
        <button type="submit">설정 적용</button>
    </div>
</form>

{% endblock %}